<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		   http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context 
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx.xsd
           http://www.springframework.org/schema/data/jpa
    	   https://www.springframework.org/schema/data/jpa/spring-jpa.xsd">
	
	<!-- permite el uso de anotaciones con spring en el base package mencionado -->
	<context:annotation-config></context:annotation-config>
	<context:component-scan	base-package="com.mamglez"></context:component-scan>
	
	<!-- se carga el archivo de configuracion properties -->
	<context:property-placeholder location="classpath*:config/application-properties.properties"/>
	
	<!-- bean encargado de realizar la conexion a bbdd -->
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close"> 
		<property name="driverClassName" value="${spring.datasource.driverClassName}"></property>
		<property name="url" value="${spring.datasource.url}"></property>
		<property name="username" value="${spring.datasource.username}"></property>
		<property name="password" value="${spring.datasource.password}"></property>
		
<!-- 		<property name="minPoolSize" value="5"></property> -->
<!-- 		<property name="maxPoolSize" value="10"></property> -->
<!-- 		<property name="maxIdleTime" value="30000"></property> -->
	</bean>
	
	<!-- bean para administrar y registrar entities de jpa y sus propiedades -->
	<bean id="emf" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="packagesToScan" value="com.mamglez.tiendamusicalentities.entities"></property>
		<property name="jpaProperties">
		<props>
			<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
			<prop key="hibernate.show_sql">true</prop>
			<prop key="hibernate.jdbc.time_zone">Europe/Madrid</prop>
		</props>
		</property>
		<property name="persistenceProvider">
			<bean class="org.hibernate.jpa.HibernatePersistenceProvider"></bean>
		</property>
	</bean>
	
	<!-- bean se encarga de gestionar las transacciones para el crud de los entities -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- etiqueta para utilizar la anotacion @Transactional de spring apra ejecutar transacciones de jpa -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	<!-- etiqueta pra registrar las classes quw se encargarn de ejecutar las transacciones a la bbdd -->
	<jpa:repositories base-package="com.mamglez.tiendamusicaldata.repositories" entity-manager-factory-ref="entityManagerFactory"></jpa:repositories>
</beans>